<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>996993345043-5ih00489kma421o07sauilr6h6t2hlqh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAQZHO8yDCR5o7yj4unscTyUPd1RBlqJI</string>
	<key>GCM_SENDER_ID</key>
	<string>996993345043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.backgroundapi</string>
	<key>PROJECT_ID</key>
	<string>tradesmart-ebb4b</string>
	<key>STORAGE_BUCKET</key>
	<string>tradesmart-ebb4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996993345043:ios:e618bdc7de4ad03706c1e6</string>
	<key>DATABASE_URL</key>
	<string>https://tradesmart-ebb4b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>